<div class="container">
  <div class="row">
    <div class="col-8">
      <h3 class="my-3 text-center">イベント一覧</h3>
      <%= month_calendar do |date| %>
        <%= date.day %>
      <% end %>
    </div>
    
    <div class="col-4">
      <h3 class="my-3 text-center">新規イベント</h3>
    </div>
    
    
    
  </div>
</div>