<div class="underlay-photo" >
  <div style='height: 500px;'>
    <div class="col-sm-12 col-md-12 col-lg-5 px-5 px-sm-0 mx-auto pt-5 text-center">
      <h3>お問い合わせ一覧</h3>
      <% @contacts.each do |contact| %>
        <div>
          <h5><%= contact.contact_title_i18n %></h5>
          <%= link_to user_path(contact.user_id) do %>
            <%= contact.user.name %>
          <% end %>
          <p><%= contact.contact_content %></p>
        </div>
      <% end %>

    </div>
  </div>
</div>