<div class="back-image">
  <div class="back-image1">
    <%= image_tag 'test.png',:size => '264x400' %>
  </div>
  <div class="back-image2">
    <%= image_tag 'test.png',:size => '264x400' %>
  </div>

  <div class="container">
    <div style='height: 500px;'>
      <div class="col-sm-12 col-md-12 col-lg-5 px-5 px-sm-0 mx-auto pt-5 text-center">
        <h1>Attention</h1>
        <p>このサイトは、推しのためのイベントを</br>
        楽しむためのファンサイトです！</br>
        推しに胸を張れるような行動と言動を心がけて</br>
        このサイトを楽しんでもらえたら幸いです！</p>
      </div>
    </div>
  </div>
</div>